@model PrestamosCompactoWEB_Cs.Models.ConsultaAmortizacionparaPrestamos

@{
    ViewBag.Title = "Consulta Amortizacion para Préstamos";
}

<style>
    .block {
        display: block;
    }

    .inline {
        display: inline-block;
    }

    .sizedoc {
        width: 150px;
    }

    .textarea {
        width: 50px;
    }

    .Sizedocc {
        height: 75px;
        max-width: 610px;
    }

    .Pos {
        position: absolute;
        left: 55px;
        top: 145px;
    }

    .Pos2 {
        position: absolute;
        left: 60px;
        top: 200px;
    }

    .Pos3 {
        position: absolute;
        left: 144px;
        top: 195px;
    }

    .Pos4 {
        position: absolute;
        left: 270px;
        top: 195px;
    }

    .Pos5 {
        position: absolute;
        left: 330px;
        top: 200px;
    }

    .Pos6 {
        position: absolute;
        left: 380px;
        top: 195px;
    }

    .Pos7 {
        position: absolute;
        left: 70px;
        top: 240px;
    }



    .Pos8 {
        position: absolute;
        left: 143px;
        top: 238px;
    }

    .Pos9 {
        position: absolute;
        left: 560px;
        top: 245px;
    }

    .Pos10 {
        position: absolute;
        left: 603px;
        top: 240px;
    }

    .Pos11 {
        position: absolute;
        left: 70px;
        top: 290px;
    }

    .Pos12 {
        position: absolute;
        left: 143px;
        top: 285px;
    }

    .Pos15 {
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .Pos16 {
        position: absolute;
        left: 30px;
        top: 5px;
    }

    .Pos17 {
        position: absolute;
        left: 105px;
        top: 5px;
    }

    .Pos18 {
        position: absolute;
        left: 110px;
        top: 5px;
    }

    .Pos19 {
        position: absolute;
        left: -85px;
        top: 5px;
    }



    .Pos20 {
        position: absolute;
        left: 70px;
        top: 375px;
    }

    .Pos21 {
        position: absolute;
        left: 143px;
        top: 370px;
    }

    .Pos22 {
        position: absolute;
        left: 35px;
        top: 423px;
    }

    .Pos23 {
        position: absolute;
        left: 143px;
        top: 415px;
    }

    .Pos24 {
        position: absolute;
        left: 70px;
        top: 455px;
    }

    .Pos25 {
        position: absolute;
        left: 360px;
        top: 415px;
    }

    .Pos26 {
        position: absolute;
        left: 395px;
        top: 365px;
    }

    .Pos27 {
        position: absolute;
        left: 300px;
        top: 550px;
    }

    .Pos28 {
        position: absolute;
        left: -120px;
        top: 4px;
    }

    .Pos29 {
        position: absolute;
        left: 10px;
        top: 5px;
    }


    .Pos30 {
        position: absolute;
        left: 145px;
        top: 150px;
    }

    .Pos31 {
        position: absolute;
        left: 85px;
        top: 160px;
    }

    .Pos32 {
        position: absolute;
        left: 20px;
        top: 635px;
    }

    .Pos33 {
        position: absolute;
        left: 100px;
        top: 610px;
    }

    .Pos34 {
        position: absolute;
        left: 40px;
        top: 205px;
    }

    .Pos35 {
        position: absolute;
        left: 145px;
        top: 200px;
    }

    .Pos36 {
        position: absolute;
        left: 298px;
        top: 150px;
    }

    .Pos37 {
        position: absolute;
        left: 120px;
        top: 5px;
    }

    .Pos38 {
        position: absolute;
        left: 340px;
        top: 150px;
    }

    .Pos39 {
        position: absolute;
        left: 250px;
        top: 250px;
    }


    .Pos40 {
        position: absolute;
        left: 15px;
        top: 500px;
    }

    .Pos41 {
        position: absolute;
        left: 30px;
        top: 5px;
    }

    .Pos42 {
        position: absolute;
        left: 80px;
        top: 5px;
    }

    .Pos43 {
        position: absolute;
        left: 65px;
        top: 5px;
    }

    .Pos44 {
        position: absolute;
        left: 360px;
        top: 40px;
    }

    .Pos45 {
        position: absolute;
        left: 25px;
        top: 10px;
    }

    .Pos46 {
        position: absolute;
        left: 155px;
        top: 10px;
    }

    .Pos47 {
        position: absolute;
        left: 305px;
        top: 10px;
    }

    .Pos48 {
        position: absolute;
        left: 440px;
        top: 10px;
    }

    .Pos49 {
        position: absolute;
        left: 590px;
        top: 10px;
    }

    .Pos50 {
        position: absolute;
        left: 740px;
        top: 10px;
    }

    .Pos51 {
        position: absolute;
        left: 10px;
        top: 115px;
    }

    .Pos52 {
        position: absolute;
        left: 140px;
        top: 115px;
    }

    .Pos53 {
        position: absolute;
        left: 290px;
        top: 115px;
    }

    .Pos54 {
        position: absolute;
        left: 440px;
        top: 115px;
    }

    .Pos55 {
        position: absolute;
        left: 590px;
        top: 115px;
    }

    .Pos56 {
        position: absolute;
        left: 740px;
        top: 115px;
    }

    .Pos57 {
        position: absolute;
        left: 60px;
        top: 550px;
    }

    .Pos58 {
        position: absolute;
        left: 40px;
        top: 573px;
    }

    .Pos59 {
        position: absolute;
        left: 55px;
        top: 595px;
    }

    .Pos60 {
        position: absolute;
        left: 60px;
        top: 660px;
    }

    .Pos61 {
        position: absolute;
        left: 40px;
        top: 685px;
    }

    .Pos62 {
        position: absolute;
        left: 55px;
        top: 710px;
    }

    .Pos63 {
        position: absolute;
        left: 5px;
        top: 30px;
    }

    .Pos64 {
        position: absolute;
        left: 5px;
        top: 55px;
    }

    .Pos65 {
        position: absolute;
        left: 5px;
        top: 80px;
    }

    .Pos66 {
        position: absolute;
        left: 145px;
        top: 30px;
    }

    .Pos67 {
        position: absolute;
        left: 145px;
        top: 55px;
    }

    .Pos68 {
        position: absolute;
        left: 145px;
        top: 80px;
    }

    .Pos69 {
        position: absolute;
        left: 290px;
        top: 30px;
    }

    .Pos70 {
        position: absolute;
        left: 290px;
        top: 55px;
    }

    .Pos71 {
        position: absolute;
        left: 290px;
        top: 80px;
    }

    .Pos72 {
        position: absolute;
        left: 435px;
        top: 30px;
    }

    .Pos73 {
        position: absolute;
        left: 435px;
        top: 55px;
    }

    .Pos74 {
        position: absolute;
        left: 435px;
        top: 80px;
    }

    .Pos75 {
        position: absolute;
        left: 585px;
        top: 30px;
    }

    .Pos76 {
        position: absolute;
        left: 585px;
        top: 55px;
    }

    .Pos77 {
        position: absolute;
        left: 585px;
        top: 80px;
    }

    .Pos78 {
        position: absolute;
        left: 730px;
        top: 30px;
    }

    .Pos79 {
        position: absolute;
        left: 730px;
        top: 55px;
    }

    .Pos80 {
        position: absolute;
        left: 730px;
        top: 80px;
    }

    .Pos81 {
        position: absolute;
        left: 5px;
        top: 195px;
    }

    .Pos82 {
        position: absolute;
        left: 5px;
        top: 145px;
    }

    .Pos83 {
        position: absolute;
        left: 5px;
        top: 170px;
    }

    .Pos84 {
        position: absolute;
        left: 145px;
        top: 195px;
    }

    .Pos85 {
        position: absolute;
        left: 145px;
        top: 145px;
    }

    .Pos86 {
        position: absolute;
        left: 145px;
        top: 170px;
    }

    .Pos87 {
        position: absolute;
        left: 290px;
        top: 195px;
    }

    .Pos88 {
        position: absolute;
        left: 290px;
        top: 145px;
    }

    .Pos89 {
        position: absolute;
        left: 290px;
        top: 170px;
    }

    .Pos90 {
        position: absolute;
        left: 435px;
        top: 195px;
    }

    .Pos91 {
        position: absolute;
        left: 435px;
        top: 145px;
    }

    .Pos92 {
        position: absolute;
        left: 435px;
        top: 170px;
    }

    .Pos93 {
        position: absolute;
        left: 585px;
        top: 195px;
    }

    .Pos94 {
        position: absolute;
        left: 585px;
        top: 145px;
    }

    .Pos95 {
        position: absolute;
        left: 585px;
        top: 170px;
    }

    .Pos96 {
        position: absolute;
        left: 730px;
        top: 195px;
    }

    .Pos97 {
        position: absolute;
        left: 730px;
        top: 145px;
    }

    .Pos98 {
        position: absolute;
        left: 730px;
        top: 170px;
    }

    .Pos99 {
        position: absolute;
        left: 350px;
        top: 150px;
    }

    .divp {
        position: fixed;
    }

    .fieldset1 {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-bottom: 0.625em;
        padding-left: 6.75em;
        padding-right: 6.75em;
        border: 2px groove;
        border-color: #ffffff;
        width: 20px;
        height: 35px;
        position: absolute;
        top: 150px;
        left: 142px;
        font-size-adjust: initial;
    }

    .Post1 {
        position: absolute;
        left: 208px;
        top: -15px;
    }

    .Post2 {
        position: absolute;
        left: 270px;
        top: -20px;
    }

    .Post3 {
        position: absolute;
        left: 575px;
        top: -15px;
    }

    .Post4 {
        position: absolute;
        left: 630px;
        top: -20px;
    }

    .Post5 {
        position: absolute;
        left: 894px;
        top: -15px;
    }

    .Post6 {
        position: absolute;
        left: 950px;
        top: -20px;
    }

    .Divpo {
        position: absolute;
        top: 28px;
    }

    .Divpos {
position: absolute;
left: 70px;
top: 93px;
    }

    .Color {
        color: #36C197;
    }

    .ui-datepicker-trigger {
        position: absolute;
        top: 194px;
        width: 38px;
        left: 508px;
    }
</style>

<style>
        /*div {
        background:red;
    }*/

        label {
            color: #38c197;
        }
</style>

<script>

    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

       
    })

</script>

<div class="Divpos">
    <h4> <b class="Color Title">Consulta Amortización para Préstamos.</b></h4>
</div>
<br>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="container form-horizontal panel panel-default" style="margin-top: 112px;">

        <br />

        <div class="modal fade" id="ModalPrestamo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">

                <!--Contenedor del popup-->
                <div class="modal-content">

                    <!--Titulo y boton de cierre del popup-->
                    <div class="modal-header">

                        <!--Ojo... En este h4, se puede usar una variable como parametro para llamar la tabla a visualizar??-->
                        <h4 class="modal-title" id="exampleModalLongTitle">Titulo de la Tabla</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -20px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--/////////////////-->
                    <!--Cuerpo del popup donde va la tabla-->
                    <div class="modal-body">

                        @*<table id="Tabla" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">*@
                        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="control-label">Contrato</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Nombre Cliente</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Apellido Cliente</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Fecha</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Monto de la Negociacion</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if ((IEnumerable<PrestamosCompactoWEB_Cs.Models.Select_ListadoContratos>)ViewBag.ModelNPrestamo != null && (IEnumerable<PrestamosCompactoWEB_Cs.Models.Select_ListadoContratos>)ViewBag.ModelNPrestamo != null)
                                {
                                    foreach (var item in (IEnumerable<PrestamosCompactoWEB_Cs.Models.Select_ListadoContratos>)ViewBag.ModelNPrestamo)
                                    {

                                        <tr>
                                            <td style="cursor:pointer">
                                                @Html.DisplayFor(modelItem => item.Contrato)
                                            </td>
                                            <td style="cursor:pointer">
                                                @Html.DisplayFor(modelItem => item.NomClteApls)
                                            </td>
                                            <td style="cursor:pointer">
                                                @Html.DisplayFor(modelItem => item.ApeClteApls)
                                            </td>
                                            <td style="cursor:pointer">
                                                @Html.DisplayFor(modelItem => item.FechaPtm)
                                            </td>
                                            <td style="cursor:pointer">
                                                @Html.DisplayFor(modelItem => item.MontoPtm)
                                            </td>
                                            @*<td>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </td>*@
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                    <!--//////////////////////////////////-->
                    <!--Botones del pie del popup-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="CerrarModal" data-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                    <!--//////////////////////////-->

                </div>
                <!--/////////////////////////-->
            </div>
        </div>


        <div class="row">

            <label class="col-md-2  control-label">Nombre del Cliente</label>

            <div class="col-md-10" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="max-width: 64%;" />*@

                @Html.EditorFor(model => model.NombreApellidoCliente, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%; max-width: 72%;", @Id= "NombreApellido" } })

                @*<input type="button" name="Registrar" value="..."  data-toggle="modal" data-target="#ModalPrestamo"   style="background-color:#36C197;color:white;font-weight:bold" class="waves-effect waves-light btn">*@
            </div>

        </div>
      
        <br />

        <div class="row">

            <label class="col-md-2  control-label">Monto de la Negociacion</label>

            <div class="col-md-3" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                @Html.EditorFor(model => model.MontoPrestamo, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%; text-align: right;", @placeholder = "0.00", @Id="MontoPrestamo" } })

            </div>

            <label class="col-md-2  control-label">Valor Otros</label>


            <div class="col-md-3" style="margin-left:-15px;">
                @*<input type="text" class="form-control" name="codigo" style="width: 80%;" />*@

                @Html.EditorFor(model => model.ValorOtros, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%; text-align: right;", @placeholder = "0.00", @Id = "ValorOtros" } })
            </div>


            <div class="col-md-2"></div>

        </div>

        <br />

        <div class="row">

            <label class="col-md-2  control-label">No. de Cuotas</label>

            <div class="col-md-3" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                @Html.EditorFor(model => model.NoCuotas, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 31%; text-align: right;", @placeholder = "0", @Id= "NoCuota" } })

            </div>

            <label class="col-md-2  control-label">Cuotas Otros</label>


            <div class="col-md-3" style="margin-left:-15px;">
                @*<input type="text" class="form-control" name="codigo" style="width: 80%;" />*@

                @Html.EditorFor(model => model.CuotasOtros, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 31%; text-align: right;", @placeholder = "0", @Id= "CuotasTraspPtm" } })

            </div>


            <div class="col-md-2"></div>

        </div>
        
        <br />

        <div class="row">

            <label class="col-md-2  control-label">Fecha del Negociación</label>

            <div class="col-md-3" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                @Html.EditorFor(model => model.FechaPrestamo, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 51%;", @Placeholder = "DD/MM/YYYY", @Onkeyup = "this.value=formateafecha(this.value,'" + ViewBag.ModelFecha + "')" } })

            </div>

            <label class="col-md-2  control-label">Fecha 1era. Cuota</label>


            <div class="col-md-3" style="margin-left:-15px;">
                @*<input type="text" class="form-control" name="codigo" style="width: 80%;" />*@

                @Html.EditorFor(model => model.FechaPrimeraCuota, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 51%;", @Placeholder = "DD/MM/YYYY", @Onkeyup = "this.value=formateafecha(this.value,'" + ViewBag.ModelFecha + "')" } })

            </div>


            <div class="col-md-2"></div>

        </div>

        <br />

        <div class="row">

            <label class="col-md-2  control-label">Frecuencia de Pagos</label>

            <div class="col-md-3" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                @*@Html.EditorFor(model => model.FrecuenciaPagos, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;" } })*@

                @Html.DropDownListFor(model => model.FrecuenciaPagos, new List<SelectListItem> { new SelectListItem() { Text = "Diario", Value = "1" }, new SelectListItem() { Text = "Quincenal", Value = "2" }, new SelectListItem() { Text = "InterDiario", Value = "3" }, new SelectListItem() { Text = "Mensual", Value = "4" } }, htmlAttributes: new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id= "FrecuenciaPago" })

            </div>

            <div class="col-md-7"></div>

        </div>

        <br />

        <div class="row">

            <label class="col-md-2  control-label">Tasa Interes</label>

            <div class="col-md-3" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                @Html.EditorFor(model => model.TasaInteres, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 45%; text-align: right;", @placeholder = "0.00" } })

            </div>

            @*<label class="col-md-2  control-label">Valor Cuota</label>*@


            <div class="col-md-3" style="margin-left:-15px;">
                @*<input type="text" class="form-control" name="codigo" style="width: 80%;" />*@

               @* @Html.EditorFor(model => model.ValorCuota, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%; text-align: right;", @placeholder = "0.00", @Id= "ValorCuota" } })*@

            </div>


            <div class="col-md-2"></div>

        </div>

        <br />

        @*<div class="row">

            <label class="col-md-2  control-label">Forma de Pagos</label>

            <div class="col-md-10" style="margin-left:-15px;">

            </div>

        </div>*@

        <div class="row">

            <label class="col-md-2  control-label">Formas de Pagos</label>

            <div class="col-md-3" style="margin-left:-15px;">

                @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                <div class="panel panel-default"  style="height:36px">
                    <div style="margin-left: 6px;">
                        @Html.RadioButtonFor(model => model.FormaPagos, 1, htmlAttributes: new { @checked = "checked", @id = "Normal" })
                        @Html.Label("Normal", htmlAttributes: new { @class = " control-label Color" })

                        @Html.RadioButtonFor(model => model.FormaPagos, 0, htmlAttributes: new { @id = "Vencimiento" })
                        @Html.Label("A vencimiento", htmlAttributes: new { @class = " control-label Color" })
                    </div>
                </div>
            </div>

            <div class="col-md-7"></div>

        </div>

        <br />

        <div class="row">

            <div class="col-md-2">

            </div>

            @*<label class="col-md-2  control-label">Detalles de la negociación</label>*@
            <div class="col-md-1">

                <input type="button" name="VerCuotas" id="VerCuotas" onclick="VerCuotas1();" value="Ver Cuotas" style="background-color:#36C197;color:white;font-weight:bold;margin-left:-14px;" class="waves-effect waves-light btn">

            </div>

            <div class="col-md-1" style="margin-left: 7px;">

                @*<input type="button" name="Cancelar" Value="Limpiar" style="background-color:#36C197;color:white;font-weight:bold;width: 85px; margin-left:-7px;" class="waves-effect waves-light btn">*@

                <input type="reset" name="Limpiar" Value="Limpiar"  style="background-color:#36C197;color:white;font-weight:bold;width: 85px; margin-left:-5px;" class="waves-effect waves-light btn">

            </div>

            <div class="col-md-1" style="margin-left: -20px;">

                @*<input type="button" name="Salir" value="Salir" style="background-color:#36C197;color:white;font-weight:bold;width:85px;margin-left: 13px;" class="waves-effect waves-light btn">*@
                <input type="submit" name="Imprimir" value="Imprimir" style="background-color:#36C197;color:white;font-weight:bold;width:85px;margin-left: 14px;" class="waves-effect waves-light btn">

            </div>

            <div class="col-md-1" style="margin-left: -5px;">

              

            </div>

            <div class="col-md-5"></div>

        </div>

        <br />

        <div class="row">

            <div class="col-md-12">

                <Table border="0" id="tblConsulta" style="width:91%" Class="table table-striped table-bordered dt-responsive nowrap">

                    <thead>
                        <tr>

                            <th style="width:9%;color:#36C197; text-align:right;">
                                Cuota
                            </th>

                            <th Style="width:9%;color:#36C197; text-align:left;">
                                Fecha
                            </th>

                            <th Style="width:9%;color:#36C197; text-align:right; ">
                                Saldo
                            </th>

                            <th Style="width:9%;color:#36C197; text-align:right;">
                                Valor Cuota
                            </th>

                            <th Style="width:9%;color:#36C197; text-align:right;">
                                Capital
                            </th>

                            <th Style="width:9%;color:#36C197; text-align:right;">
                                Interes
                            </th>

                            <th Style="width:9%;color:#38C197; text-align:right;">
                                Otros
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </Table>

            </div>

        </div>

    </div>

   
        }

     @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DateValidator.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/Content/Styl10.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styl5.css" />*@
    <link type="text/css" href="~/Content/jquery-ui.theme.css" rel="Stylesheet" />
    <link type="text/css" href="~/Content/jquery-ui.structure.min.css" rel="Stylesheet" />
    @*<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <Scripts src="~/Scripts/jquery.unobtrusive-ajax.min.js"></Scripts>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

    @*<script src="@Url.Content("../../Scripts/jquery-1.12.0.min.js")"></script>*@
    <script src="@Url.Content("../../Scripts/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("../../Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("../../Scripts/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("../../Scripts/responsive.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabla").DataTable({
                "language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "info": false,
                "sort": false
            });
            $("#tabla1").DataTable({
                "language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "info": false,
                "sort": false
            });
            $("#tabla2").DataTable({
                "language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "info": false,
                "sort": false
            });
        });



        $(document).ready(function () {
            var selected = [];
            var cedula = "";

            $("#example").DataTable({
                //"language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "processing": true,
                "rowCallback": function (row, data) {
                    if ($.inArray(data.DT_RowId, selected) !== -1) {
                        $(row).addClass('selected');
                    }
                }
            });
            function convertDate(inputFormat) {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date(inputFormat);
                return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
            }

            function ToJavaScriptDate(value) {

                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return ((dt.getDate() < 10) ? '0' + dt.getDate() : dt.getDate()) + '/' + (((dt.getMonth() + 1) < 10) ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)) + '/' + dt.getFullYear();
            }



            function stopRKey(evt) {
                var evt = (evt) ? evt : ((event) ? event : null);
                var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);

                if ((evt.keyCode == 13) && ((node.type == "text") || (node.type == "radio") || (node.type == "checkbox"))) { return false; }
            }

            document.onkeypress = stopRKey;


            $('#example tbody').on('dblclick', 'tr', function () {
                var id = this.id;
                var index = $.inArray(id, selected);

                if (index === -1) {
                    selected.push(id);
                } else {
                    selected.splice(index, 1);
                }


                $(this).toggleClass('selected');

                //var dato1 = $(this).find('td:first').html();
                //$('#CodigoDeConcp').val(dato1.trim());


                var dato1 = $(this).find('td:nth-child(1)').html();
                $('#Contrato').val(dato1.trim());
                NoPrestamo = dato1.trim();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetConsultaAmortizacion")',
                    dataType: 'json',
                    data: { Contrato: NoPrestamo },
                    success: function (data) {


                        $.each(data, function (i, res) {




                            //$.each(data, function (i, resCuota) {
                            //    //alert('Estoy recorriendo el registro numero: ' + idx);

                            //    //console.log(opt.nickname + ' ' + opt.email + ' ' + opt.rango);
                            //});



                             //alert("111223");
                             var date = new Date;
                             $('#Cedula').val(res[0].Cedula);
                             $('#NombreApellido').val(res[0].NombreApellido);
                             $('#MontoPrestamo').val(formatCurrency(res[0].MontoPrestamo));
                             $('#NoCuota').val(res[0].NoCuotas);
                             $('#FechaPrestamo').val(res[0].FechaPrestamo);
                             $('#FechaPrimeraCuota').val(res[0].FechaPrestamo);
                             $('#FrecuenciaPago').val(res[0].FrecuenciaPagos);
                             $('#codigoCobradorAsignado').val(res[0].codigoCobradorAsignado);
                             $('#ValorOtros').val(formatCurrency(res[0].ValorOtros));
                             $('#TasaInteres').val(formatCurrency(res[0].TasaInteres));
                             $('#TasaMora').val(formatCurrency(res[0].TasaMora));
                             $('#NombreCobrador').val(res[0].NombreCobradorAsignado);
                             $('#CuotasTraspPtm').val(res[0].CuotasOtros);
                             $('#NotaPtm').val(res[0].DetallesNegociacion);




                             if (res[0].FormaPagos == 1) {
                                 $('#Vencimiento').attr('Checked', true);
                                 $('#Normal').attr('Checked', false);
                             } else {
                                 $('#Normal').attr('Checked', true);
                                 $('#Vencimiento').attr('Checked', false);
                             }

                            //$('#FechaPrestamo').val(res[0].FechaPrestamo);
                            //$('#TasaInteres').val(res[0].TasaInteres);
                            //$('#NoCuotas').val(res[0].NoCuotas);
                            //$('#DireccionCobro').val(res[0].DireccionCobro);
                            //$('#CodigoCobradorAsignado').val(res[0].CodigoCobradorAsignado);
                            //$('#NombreCobradorAsignado').val(res[0].NombreCobradorAsignado);
                            //$('#Codigo').val(res[0].CodClteApls);

                            //$('#NombreApellidoC').val(res[0].NombreApellido);
                            //$('#CedulaoRNCC').val(res[0].CedulaCliente);
                            //$('#DireccionCobroC').val(res[0].DireccionCobro);
                            //$('#Telefono').val(res[0].Telefono);
                            //$('#Celular').val(res[0].Celular);
                            //$('#CodigoC').val(res[0].CodClteApls);




                            //if (res[0].FormaPagos == 1) {
                            //    $('#Vencimiento').attr('Checked', true);
                            //    $('#Normal').attr('Checked', false);
                            //} else {
                            //    $('#Normal').attr('Checked', true);
                            //    $('#Vencimiento').attr('Checked', false);
                            //}
                            //alert(persona[i]["nombre"]);

                            //$.each(res[0].ListaCuotas, function (i, rescuota) {


                            //    alert(open.ListaCuotas);
                            //    $('#Body').append(
                            //         '<tr><td>' + rescuota[0].ListaCuotas +
                            //         '</td><td>' + rescuota[0].ListaCuotas +
                            //         '</td><td>' + rescuota[0].ListaCuotas +
                            //       '</td></tr>');
                            //    //alert(rescuota[0].CuotaNumPtm);
                            //});



                            $('#Contrato').attr('Disabled', 'Disabled');
                            $('#Cedula').attr('Disabled', 'Disabled');
                            $('#NombreApellido').attr('Disabled', 'Disabled');
                            $('#MontoPrestamo').attr('Disabled', 'Disabled');
                            $('#NoCuota').attr('Disabled', 'Disabled');
                            $('#FechaPrestamo').attr('Disabled', 'Disabled');
                            $('#FechaPrimeraCuota').attr('Disabled', 'Disabled');
                            $('#FrecuenciaPago').attr('Disabled', 'Disabled');
                            $('#codigoCobradorAsignado').attr('Disabled', 'Disabled');
                            $('#ValorOtros').attr('Disabled', 'Disabled');
                            $('#TasaInteres').attr('Disabled', 'Disabled');
                            $('#TasaMora').attr('Disabled', 'Disabled');
                            $('#NombreCobrador').attr('Disabled', 'Disabled');
                            $('#CuotasTraspPtm').attr('Disabled', 'Disabled');

                            $('#Normal').attr('Disabled', 'Disabled');
                            $('#Vencimiento').attr('Disabled', 'Disabled');

                            $('#boton1').attr('Disabled', 'Disabled');
                            $('#boton2').attr('Disabled', 'Disabled');
                            $('#boton3').attr('Disabled', 'Disabled');
                            $('#botonnuevo').attr('Disabled', 'Disabled');
                            $('#NotaPtm').attr('ReadOnly', true);


                            $('#Registrar').attr('Disabled', 'Disabled');
                            $('#Actualizar').attr('Disabled', false);



                        });
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }
                });

                $("#CerrarModal").click();
                //$("#ModalPrestamo").modal('hide');

            });

            $("#boton2").on("click", function () {

                jQuery.noConflict();
                $("#ModalPrestamo").modal('show');
            });

        });

        function VerCuotas1() {
                    //$('#Actualizar').attr('Disabled', false);
            var url = '@Url.Action("ConsultaCuotasAmortizacion", "PrestamosComp")' + '?MontoPtm=' + $("#MontoPrestamo").val() + '&TasaInteres=' + $("#TasaInteres").val() + '&FechaContrato=' + $("#FechaPrestamo").val() + '&Fecha1raCuota=' + $("#FechaPrimeraCuota").val() + '&Cuota=' + $("#NoCuota").val() + '&NoCuotasOtros=' + $('#CuotasTraspPtm').val() + '&Vencimiento=' + $("#Vencimiento").val() + '&AbsOIns=' + "1" + '&Frecuencia=' + $("#FrecuenciaPago").val() + '&TipoTabla=' + 1 + '&Inicial=' + "0" + '&Traspaso=' + "0" + '&Registro=' + "0" + '&Seguro=' + "0" + '&Exoneracion=' + "0" + '&Legal=' + "0" + '&Otros=' + "0" + '&CuotasEspeciales=' + "0" + '&CantCuotasEspeciales=' + "0" + '&strCuotasEspeciales=' + " " + '&strValorCuotasEspeciales=' + " " + '&Redondea=' + "0" + '&CuotasOriginal=' + $('#NoCuota').val();

        $('#tblConsulta').dataTable().fnDestroy();
        var table = $('#tblConsulta').DataTable({
            "language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
            responsive: true,
            lengthChange: false,
            searching: false,
            info: false,
            bSort: false,
            ajax: {
                url: url,
                type: 'GET',
            },
            'columns': [
                {
                    data: "Cuota",
                    "searchable": true,
                    className: "dt-body-center",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === "ZZZ") {
                                return "";
                            }
                            else {
                                return data;
                            }

                        }
                        return data;
                    },
                    className: "text-center"
                },
                {
                    data: "FechaVencCuota",
                    "searchable": true,
                    className: "dt-body-center",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === "01/01/2000") {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                        return data;
                    }
                },
                {
   
                    data: "Saldo",
                    "searchable": false,
                    className: "text-right"
                    },

                {
                    data: "ValorCuota",
                    name: "ValorCuota",
                    "searchable": false,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === "0") {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                        return data;
                    },
                    className: "text-right"
                },
                {
                    type: 'text',
                    data: "Capital",
                    name: "CuotaCapital",
                    "searchable": false,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === "0") {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                        return data;
                    },
                    className: "text-right"
                },
                {
                    type: 'text',
                    data: "Interes",
                    name: "CuotaIntereses",
                    "searchable": false,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === "0") {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                        return data;
                    },
                    className: "text-right"
                },

                {
                    type: 'text',
                    data: "Otros",
                    name: "CuotaOtros",
                    "searchable": false,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === "0") {
                                return "";
                            }
                            else {
                                return data;
                            }
                        }
                        return data;
                    },
                    className: "text-right"
                },


            ],
            "deferRender": true,
        });

        }
    </script>
    }





