@model PrestamosCompactoWEB_Cs.Models.RegistraModificaEliminaClientes

@{
    ViewBag.Title = "Registra /Modifica /Elimina Clientes";
}

<style>
    .block {
        display: block;
    }

    .inline {
        display: inline-block;
    }

    .sizedoc {
        width: 150px;
    }

    .textarea {
        width: 50px;
    }

    .Sizedocc {
        height: 75px;
        max-width: 610px;
    }

    .Pos {
        position: absolute;
        left: 55px;
        top: 145px;
    }

    .Pos2 {
        position: absolute;
        left: 60px;
        top: 200px;
    }

    .Pos3 {
        position: absolute;
        left: 144px;
        top: 195px;
    }

    .Pos4 {
        position: absolute;
        left: 270px;
        top: 195px;
    }

    .Pos5 {
        position: absolute;
        left: 330px;
        top: 200px;
    }

    .Pos6 {
        position: absolute;
        left: 380px;
        top: 195px;
    }

    .Pos7 {
        position: absolute;
        left: 70px;
        top: 240px;
    }



    .Pos8 {
        position: absolute;
        left: 143px;
        top: 238px;
    }

    .Pos9 {
        position: absolute;
        left: 560px;
        top: 245px;
    }

    .Pos10 {
        position: absolute;
        left: 603px;
        top: 240px;
    }

    .Pos11 {
        position: absolute;
        left: 70px;
        top: 290px;
    }

    .Pos12 {
        position: absolute;
        left: 143px;
        top: 285px;
    }

    .Pos15 {
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .Pos16 {
        position: absolute;
        left: 30px;
        top: 5px;
    }

    .Pos17 {
        position: absolute;
        left: 105px;
        top: 5px;
    }

    .Pos18 {
        position: absolute;
        left: 110px;
        top: 5px;
    }

    .Pos19 {
        position: absolute;
        left: -85px;
        top: 5px;
    }



    .Pos20 {
        position: absolute;
        left: 70px;
        top: 375px;
    }

    .Pos21 {
        position: absolute;
        left: 143px;
        top: 370px;
    }

    .Pos22 {
        position: absolute;
        left: 35px;
        top: 423px;
    }

    .Pos23 {
        position: absolute;
        left: 143px;
        top: 415px;
    }

    .Pos24 {
        position: absolute;
        left: 70px;
        top: 455px;
    }

    .Pos25 {
        position: absolute;
        left: 360px;
        top: 415px;
    }

    .Pos26 {
        position: absolute;
        left: 395px;
        top: 365px;
    }

    .Pos27 {
        position: absolute;
        left: 300px;
        top: 550px;
    }

    .Pos28 {
        position: absolute;
        left: -120px;
        top: 4px;
    }

    .Pos29 {
        position: absolute;
        left: 10px;
        top: 5px;
    }


    .Pos30 {
        position: absolute;
        left: 145px;
        top: 150px;
    }

    .Pos31 {
        position: absolute;
        left: 85px;
        top: 160px;
    }

    .Pos32 {
        position: absolute;
        left: 20px;
        top: 635px;
    }

    .Pos33 {
        position: absolute;
        left: 100px;
        top: 610px;
    }

    .Pos34 {
        position: absolute;
        left: 40px;
        top: 205px;
    }

    .Pos35 {
        position: absolute;
        left: 145px;
        top: 200px;
    }

    .Pos36 {
        position: absolute;
        left: 298px;
        top: 150px;
    }

    .Pos37 {
        position: absolute;
        left: 120px;
        top: 5px;
    }

    .Pos38 {
        position: absolute;
        left: 340px;
        top: 150px;
    }

    .Pos39 {
        position: absolute;
        left: 250px;
        top: 250px;
    }


    .Pos40 {
        position: absolute;
        left: 15px;
        top: 500px;
    }

    .Pos41 {
        position: absolute;
        left: 30px;
        top: 5px;
    }

    .Pos42 {
        position: absolute;
        left: 80px;
        top: 5px;
    }

    .Pos43 {
        position: absolute;
        left: 65px;
        top: 5px;
    }

    .Pos44 {
        position: absolute;
        left: 360px;
        top: 40px;
    }

    .Pos45 {
        position: absolute;
        left: 25px;
        top: 10px;
    }

    .Pos46 {
        position: absolute;
        left: 155px;
        top: 10px;
    }

    .Pos47 {
        position: absolute;
        left: 305px;
        top: 10px;
    }

    .Pos48 {
        position: absolute;
        left: 440px;
        top: 10px;
    }

    .Pos49 {
        position: absolute;
        left: 590px;
        top: 10px;
    }

    .Pos50 {
        position: absolute;
        left: 740px;
        top: 10px;
    }

    .Pos51 {
        position: absolute;
        left: 10px;
        top: 115px;
    }

    .Pos52 {
        position: absolute;
        left: 140px;
        top: 115px;
    }

    .Pos53 {
        position: absolute;
        left: 290px;
        top: 115px;
    }

    .Pos54 {
        position: absolute;
        left: 440px;
        top: 115px;
    }

    .Pos55 {
        position: absolute;
        left: 590px;
        top: 115px;
    }

    .Pos56 {
        position: absolute;
        left: 740px;
        top: 115px;
    }

    .Pos57 {
        position: absolute;
        left: 60px;
        top: 550px;
    }

    .Pos58 {
        position: absolute;
        left: 40px;
        top: 573px;
    }

    .Pos59 {
        position: absolute;
        left: 55px;
        top: 595px;
    }

    .Pos60 {
        position: absolute;
        left: 60px;
        top: 660px;
    }

    .Pos61 {
        position: absolute;
        left: 40px;
        top: 685px;
    }

    .Pos62 {
        position: absolute;
        left: 55px;
        top: 710px;
    }

    .Pos63 {
        position: absolute;
        left: 5px;
        top: 30px;
    }

    .Pos64 {
        position: absolute;
        left: 5px;
        top: 55px;
    }

    .Pos65 {
        position: absolute;
        left: 5px;
        top: 80px;
    }

    .Pos66 {
        position: absolute;
        left: 145px;
        top: 30px;
    }

    .Pos67 {
        position: absolute;
        left: 145px;
        top: 55px;
    }

    .Pos68 {
        position: absolute;
        left: 145px;
        top: 80px;
    }

    .Pos69 {
        position: absolute;
        left: 290px;
        top: 30px;
    }

    .Pos70 {
        position: absolute;
        left: 290px;
        top: 55px;
    }

    .Pos71 {
        position: absolute;
        left: 290px;
        top: 80px;
    }

    .Pos72 {
        position: absolute;
        left: 435px;
        top: 30px;
    }

    .Pos73 {
        position: absolute;
        left: 435px;
        top: 55px;
    }

    .Pos74 {
        position: absolute;
        left: 435px;
        top: 80px;
    }

    .Pos75 {
        position: absolute;
        left: 585px;
        top: 30px;
    }

    .Pos76 {
        position: absolute;
        left: 585px;
        top: 55px;
    }

    .Pos77 {
        position: absolute;
        left: 585px;
        top: 80px;
    }

    .Pos78 {
        position: absolute;
        left: 730px;
        top: 30px;
    }

    .Pos79 {
        position: absolute;
        left: 730px;
        top: 55px;
    }

    .Pos80 {
        position: absolute;
        left: 730px;
        top: 80px;
    }

    .Pos81 {
        position: absolute;
        left: 5px;
        top: 195px;
    }

    .Pos82 {
        position: absolute;
        left: 5px;
        top: 145px;
    }

    .Pos83 {
        position: absolute;
        left: 5px;
        top: 170px;
    }

    .Pos84 {
        position: absolute;
        left: 145px;
        top: 195px;
    }

    .Pos85 {
        position: absolute;
        left: 145px;
        top: 145px;
    }

    .Pos86 {
        position: absolute;
        left: 145px;
        top: 170px;
    }

    .Pos87 {
        position: absolute;
        left: 290px;
        top: 195px;
    }

    .Pos88 {
        position: absolute;
        left: 290px;
        top: 145px;
    }

    .Pos89 {
        position: absolute;
        left: 290px;
        top: 170px;
    }

    .Pos90 {
        position: absolute;
        left: 435px;
        top: 195px;
    }

    .Pos91 {
        position: absolute;
        left: 435px;
        top: 145px;
    }

    .Pos92 {
        position: absolute;
        left: 435px;
        top: 170px;
    }

    .Pos93 {
        position: absolute;
        left: 585px;
        top: 195px;
    }

    .Pos94 {
        position: absolute;
        left: 585px;
        top: 145px;
    }

    .Pos95 {
        position: absolute;
        left: 585px;
        top: 170px;
    }

    .Pos96 {
        position: absolute;
        left: 730px;
        top: 195px;
    }

    .Pos97 {
        position: absolute;
        left: 730px;
        top: 145px;
    }

    .Pos98 {
        position: absolute;
        left: 730px;
        top: 170px;
    }

    .Pos99 {
        position: absolute;
        left: 350px;
        top: 150px;
    }

    .divp {
        position: fixed;
    }

    .fieldset1 {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-bottom: 0.625em;
        padding-left: 6.75em;
        padding-right: 6.75em;
        border: 2px groove;
        border-color: #ffffff;
        width: 20px;
        height: 35px;
        position: absolute;
        top: 150px;
        left: 142px;
        font-size-adjust: initial;
    }

    .Post1 {
        position: absolute;
        left: 208px;
        top: -15px;
    }

    .Post2 {
        position: absolute;
        left: 270px;
        top: -20px;
    }

    .Post3 {
        position: absolute;
        left: 575px;
        top: -15px;
    }

    .Post4 {
        position: absolute;
        left: 630px;
        top: -20px;
    }

    .Post5 {
        position: absolute;
        left: 894px;
        top: -15px;
    }

    .Post6 {
        position: absolute;
        left: 950px;
        top: -20px;
    }

    .Divpo {
        position: absolute;
        top: 28px;
    }

    .Divpos {
position: absolute;
left: 70px;
top: 93px;
    }

    .Color {
        color: #36C197;
    }

    .ui-datepicker-trigger {
        position: absolute;
        top: 194px;
        width: 38px;
        left: 508px;
    }
</style>

<style>
        /*div {
        background:red;
    }*/

        label {
            color: #38c197;
        }

           #botonModal{
    background: transparent;
    border: none !important;
    font-size:0;
}


</style>

@*<div class="Divpos">*@
<div class="Divpos">
    

    <h4> <b class="Color Title">Registra /Modifica /Elimina Clientes</b></h4>
</div>
<br>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="container form-horizontal panel panel-default " style="margin-top: 112px;">

            <br />

            <div class="modal fade ui-dialog " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">

                    <!--Contenedor del popup-->
                    <div class="modal-content">

                        <!--Titulo y boton de cierre del popup-->
                        <div class="modal-header">

                            <!--Ojo... En este h4, se puede usar una variable como parametro para llamar la tabla a visualizar??-->
                            <h4 class="modal-title" id="exampleModalLongTitle">Titulo de la Tabla</h4>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -20px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!--/////////////////-->
                        <!--Cuerpo del popup donde va la tabla-->
                        <div class="modal-body">


                            <table id="example" class="table table-bordered dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="control-label">Cod. Cliente</label>
                                        </th>
                                        <th>
                                            <label class="control-label">Nombre Cliente</label>
                                        </th>
                                        <th>
                                            <label class="control-label">Apellido Cliente</label>
                                        </th>
                                        <th>
                                            <label class="control-label">Cédula</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody >
                                    @if ((IEnumerable<PrestamosCompactoWEB_Cs.Models.Select_ListadoClientes>)ViewBag.Model != null && (IEnumerable<PrestamosCompactoWEB_Cs.Models.Select_ListadoClientes>)ViewBag.Model != null)
                                    {
                                        foreach (var item in (IEnumerable<PrestamosCompactoWEB_Cs.Models.Select_ListadoClientes>)ViewBag.Model)
                                        {
                                            <tr data-dissmiss="modal">
                                                <td style="cursor:pointer">
                                                    @Html.DisplayFor(modelItem => item.CodCliente)
                                                </td>
                                                <td style="cursor:pointer">
                                                    @Html.DisplayFor(modelItem => item.NombreCliente)
                                                </td>
                                                <td style="cursor:pointer">
                                                    @Html.DisplayFor(modelItem => item.ApellidoCliente)
                                                </td>
                                                <td style="cursor:pointer">
                                                    @Html.DisplayFor(modelItem => item.Cedula)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            

                        </div>
                        <!--//////////////////////////////////-->
                        <!--Botones del pie del popup-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            @*<button type="button" class="btn btn-primary">Save changes</button>*@
                        </div>
                        <!--//////////////////////////-->

                    </div>
                    <!--/////////////////////////-->
                </div>
            </div>









                    <div class="row">

                        <label class="col-md-2  control-label">Cédula o RNC</label>

                        <div class="col-md-3" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.CedulaoRNC, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @id = "CodigoDeConcp",  @onkeyup = "this.value = this.value.slice(0, 14);", @onBlur = "Valida_CedulaORNC(this.value)" } })

                            @*<div class="input-group">

                                    <div class="input-group">
                                        <input type="text" class="form-control" name="nombre" />
                                        <span class="input-group-addon" style="background-color: #36C197; color: white; font-weight: bold;">...</span>
                                    </div>

                                </div>*@

                        </div>

                        <div class="col-md-1" style="margin-left: -72px;">
                            @*<input type="button" name="Registrar" value="..." data-toggle="modal" data-target="#exampleModalCenter" style="background-color:#36C197;color:white;font-weight:bold" class="waves-effect waves-light btn">*@
                            <input type="button" name="Registrar" value="..." id="boton2" style="background-color:#36C197;color:white;font-weight:bold" class="waves-effect waves-light btn">
                        </div>

                        <label class="col-md-1  control-label" style="margin-left:-24px;">Código</label>
                        <div class="col-md-3" style="margin-left: -12px;">
                            @*<input type="text" class="form-control" name="codigo" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.Codigo, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id ="Codigo", @ReadOnly = true, @Value="EN PROCESO" } })
                        </div>

                        <div class="col-md-2"></div>

                    </div>

                    <br />

                    <div class="row">

                        <label class="col-md-2  control-label">Nombre</label>

                        <div class="col-md-3" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.Nombre, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id = "Nombre" } })

                        </div>

                        <label class="col-md-1  control-label">Apellido</label>


                        <div class="col-md-3" style="margin-left:-15px;">
                            @*<input type="text" class="form-control" name="codigo" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.Apellido, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id = "Apellido" } })

                        </div>


                        <div class="col-md-3"></div>

                    </div>

                    <br />

                    <div class="row">

                        <label class="col-md-2  control-label">Nombre del Negocio</label>

                        <div class="col-md-10" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="max-width: 64%;"/>*@

                            @Html.EditorFor(model => model.NombreNegocio, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 62%; max-width: 64%;", @Id = "NombreNegocio" } })


                        </div>

                        @*<div class="col-md-2"></div>*@

                    </div>


                    <br />

                    <div class="row">

                        <label class="col-md-2  control-label">Direccion del Cobro</label>

                        <div class="col-md-10" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="max-width: 64%;" />*@

                            @Html.EditorFor(model => model.DireccionCobro, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 62%; max-width: 64%;", @Id= "Direccion" } })

                        </div>

                        @*<div class="col-md-7"></div>*@

                    </div>

                    <br />

                    <div class="row">

                        <label class="col-md-2  control-label">Teléfono</label>

                        <div class="col-md-3" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.Telefono, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id = "Telefono" } })

                        </div>

                        <div class="col-md-7"></div>

                    </div>

                    <br />

                    <div class="row">

                        <label class="col-md-2  control-label">Celular</label>

                        <div class="col-md-3" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.Celular, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id = "Celular" } })

                        </div>

                        <div class="col-md-7"></div>

                    </div>


                    <br />
                    <div class="row">

                        <label class="col-md-2  control-label">Email</label>

                        <div class="col-md-3" style="margin-left:-15px;">

                            @*<input type="text" class="form-control" name="nombre" style="width: 80%;" />*@

                            @Html.EditorFor(model => model.Email, new { @htmlAttributes = new { @class = "form-control inline sizedoc", @style = "width: 80%;", @Id = "Email" } })

                        </div>

                        <div class="col-md-7"></div>

                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-2">

                        </div>

                        <div class="col-md-1">
                            @*@Session["Grabar"]*@

                            <input type="submit" name="GrabarRegCliente" disabled="disabled" value="Grabar" formaction=@Url.Action("GrabarRegCliente") formmethod="post" style="background-color:#36C197;color:white;font-weight:bold;width: 85px; margin-left: -14px;" class="waves-effect waves-light btn" id="Registrar">

                        </div>


                        <div class="col-md-1">

                            <input type="submit" name="EliminarCliente" value="Eliminar" formaction=@Url.Action("EliminaCliente") formmethod="post" style="background-color:#36C197;color:white;font-weight:bold;width: 85px;margin-left: -14px;" class="waves-effect waves-light btn">

                        </div>


                        <div class="col-md-1">
                            <input type="submit" name="ActualizaCliente" value="Actualiza" formaction=@Url.Action("ActualizaCliente") formmethod="post" style="background-color:#36C197;color:white;font-weight:bold;width: 85px;margin-left: -14px;" class="waves-effect waves-light btn" disabled ="disabled" id="Actualizar">

                        </div>

                        <div class="col-md-1"> 
                            <input type="submit" name="Limpiar" Value="Limpiar" onclick="$('#CodigoDeConcp').attr('ReadOnly', false )"formaction=@Url.Action("RegistraModificaEliminaClientes") style="background-color:#36C197;color:white;font-weight:bold;width: 85px;margin-left: -14px;" class="waves-effect waves-light btn">

                        </div>



                        <div class="col-md-6"></div>

                    </div>

                    <br />

                </div>



                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    <script src="~/Scripts/DateValidator.js"></script>
                    @*<link rel="stylesheet" type="text/css" href="~/Content/Styl10.css" />*@
                    @*<link rel="stylesheet" type="text/css" href="~/Content/Styl5.css" />*@
                    <link type="text/css" href="~/Content/jquery-ui.theme.css" rel="Stylesheet" />
                    <link type="text/css" href="~/Content/jquery-ui.structure.min.css" rel="Stylesheet" />
                    @*<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>*@
                    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
                    <Scripts src="~/Scripts/jquery.unobtrusive-ajax.min.js"></Scripts>
                    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
                    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
                    @*<script src="@Url.Content("../../Scripts/jquery-1.12.0.min.js")"></script>*@
                    <link type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="Stylesheet" />


                    @*<script src="@Url.Content("../../Scripts/jquery.dataTables.min.js")"></script>
                        <script src="@Url.Content("../../Scripts/dataTables.bootstrap.min.js")"></script>
                        <script src="@Url.Content("../../Scripts/dataTables.responsive.min.js")"></script>
                        <script src="@Url.Content("../../Scripts/responsive.bootstrap.min.js")"></script>*@





                    
                    <script src="@Url.Content("../../Scripts/jquery.dataTables.min.js")"></script>
                    <script src="@Url.Content("../../Scripts/dataTables.bootstrap.min.js")"></script>
                    <script src="@Url.Content("../../Scripts/dataTables.responsive.min.js")"></script>
                    <script src="@Url.Content("../../Scripts/responsive.bootstrap.min.js")"></script>

                    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabla").DataTable({

                "info": false,
                "sort": false
            });
        });

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);

            if ((evt.keyCode == 13) && ((node.type == "text") || (node.type == "radio") || (node.type == "checkbox"))) { return false; }
        }

        document.onkeypress = stopRKey;


        $(document).ready(function () {
            var selected = [];
            var cedula = "";

            $("#example").DataTable({
                //"language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "processing": true,
                "rowCallback": function (row, data) {
                    if ($.inArray(data.DT_RowId, selected) !== -1) {
                        $(row).addClass('selected');
                    }
                }
            });

            $('#example tbody').on('dblclick', 'tr', function () {
                var id = this.id;
                var index = $.inArray(id, selected);

                if (index === -1) {
                    selected.push(id);
                } else {
                    selected.splice(index, 1);
                }


                $(this).toggleClass('selected');

                //var dato1 = $(this).find('td:first').html();
                //$('#CodigoDeConcp').val(dato1.trim());


                var dato1 = $(this).find('td:nth-child(4)').html();
                $('#CodigoDeConcp').val(dato1.trim());
                cedula = dato1.trim();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetClienteInfo")',
                    dataType: 'json',
                    data: { CedRncClte: cedula },
                    success: function (data) {

                        //var res = JSON.stringify(result);
                      
                        //alert(res[0].Nombre);
                        $.each(data, function (i, res) {
                            $('#Codigo').val(res[0].Codigo);
                            $('#Nombre').val(res[0].Nombre);
                            $('#Apellido').val(res[0].Apellido);
                            $('#Direccion').val(res[0].DireccionCobro);
                            $('#NombreNegocio').val(res[0].NombreNegocio);
                            $('#Telefono').val(res[0].Telefono);
                            $('#Celular').val(res[0].Celular);
                            $('#Email').val(res[0].Email);
                            $('#CodigoDeConcp').attr('ReadOnly', true);

                            $('#Registrar').attr('Disabled', 'Disabled');
                            $('#Actualizar').attr('Disabled', false);

                            
                        });
                    },
                    error: function (ex) {
                        alert('Failed.' + ex);
                    }
                });

                $("#exampleModalCenter").modal('hide');
    


            });

            $("#boton2").on("click", function () {
                
                jQuery.noConflict();
                $("#exampleModalCenter").modal('show');
            });

        });

       
               
        function Valida_CedulaORNC(cedulaoRnc)
        {
            if (cedulaoRnc.trim() == "") { return; }
            cedulaoRnc = cedulaoRnc.trim();
            cedulaoRnc= cedulaoRnc.replace(/-/g, '');
            var cedletra;

            if ($.isNumeric(cedulaoRnc.substr(cedulaoRnc.length - 1, 1)) == true)
            {
                $('#Registrar').attr("Disabled", false);
                cedletra = "";
            }
            else
            {
                $('#Registrar').attr("Disabled", true);
                cedletra = cedulaoRnc;
                cedulaoRnc = cedulaoRnc.substr(0, cedulaoRnc.length - 1);
            }


            if (valida_cedula(cedulaoRnc) == 1)
            {
                if (valida_rnc(cedulaoRnc) == 1)
                {
                    $('#Registrar').attr("Disabled", true);
                    alert("La Cedula o El Rnc Digitado es incorrecto");
                    $('#CodigoDeConcp').val("");
                    $('#CodigoDeConcp').focus();

                    return;
                }
                
            }
           

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ValidaCedulaClte")',
                dataType: 'json',
                data: { CedRncClte: cedulaoRnc,CedRncClteLetra: cedletra },
                success: function (data) {
                    
                    if (data == "101") 
                    { 
                        alert("la cedula original no existe en la base de datos");
                        $('#CodigoDeConcp').val("");
                        $('#CodigoDeConcp').focus();
                    }
                
                    
          
                    if (data == "102")
                    {
                        if (cedletra != "")
                        {
                            cedulaoRnc = cedletra;
                        }
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetClienteInfo")',
                            dataType: 'json',
                            data: { CedRncClte: cedulaoRnc },
                            success: function (data) {

                                //var res = JSON.stringify(result);

                                //alert(res[0].Nombre);
                                $.each(data, function (i, res) {
                                    $('#Codigo').val(res[0].Codigo);
                                    $('#Nombre').val(res[0].Nombre);
                                    $('#Apellido').val(res[0].Apellido);
                                    $('#Direccion').val(res[0].DireccionCobro);
                                    $('#NombreNegocio').val(res[0].NombreNegocio);
                                    $('#Telefono').val(res[0].Telefono);
                                    $('#Celular').val(res[0].Celular);
                                    $('#Email').val(res[0].Email);
                                    $('#CodigoDeConcp').attr('ReadOnly', true);

                                    $('#Registrar').attr('Disabled', 'Disabled');
                                    $('#Actualizar').attr('Disabled', false);


                                });
                            },
                            error: function (ex) {
                                alert('Failed.' + ex);
                            }
                        });

                    };
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                    }
                               
            });

        }

    function valida_rnc(ced) {
        var c = ced.replace(/-/g, '');
        var cedula = c.substr(0, c.length - 1);
        var verificador = c.substr(c.length - 1, 1);
        var strTabla = "79865432";
        var suma = 0;
        var resto = 0;
        var divisor = 0;
        var digito = 0;
        var cedulaValida = 0;

        if (c.length != 9) {
            //document.write("Esta cedula no es valida");                             
            return cedulaValida = 1;
            //$('#CodigoDeConcp').val("");
            //$('#CodigoDeConcp').focus();
        }

        for (i = 0; i < cedula.length; i++) {
            suma += (strTabla.substr(i, 1) * cedula.substr(i, 1));
        }

        divisor = parseInt(suma / 11);
        resto = suma - (divisor * 11);

        if (resto < 0) {
            digito = Math.Abs(resto);
        }
        else if (resto == 0) {
            digito = 2;
        }
        else if (resto == 1) {
            digito = 1;
        }
        else {
            digito = 11 - resto;
        }                           

        if (digito == verificador) {
            cedulaValida = 0;
        }
        else {                               
            cedulaValida = 1;
           // $('#CodigoDeConcp').val("");
           // $('#CodigoDeConcp').focus();
        }

        return(cedulaValida);
    }

    function valida_cedula(ced) {
        var c = ced.replace(/-/g,'');
        var cedula = c.substr(0, c.length - 1);
        var verificador = c.substr(c.length - 1, 1);
        var suma = 0;
        var cedulaValida = 0;
		
        if(ced.length < 11 && ced.length > 0)
        { 
            //cedulaValida = alert("Esta cedula no es valida"); 
            //$('#CodigoDeConcp').val("");
            //$('#CodigoDeConcp').focus();
            return cedulaValida = 1;
        }
	    
        for (i=0; i < cedula.length; i++) {
            mod = "";
            if((i % 2) == 0){mod = 1} else {mod = 2}
            res = cedula.substr(i,1) * mod;
            if (res > 9) {
                res = res.toString();
                uno = res.substr(0,1);
                dos = res.substr(1,1);
                res = eval(uno) + eval(dos);
            }
            suma += eval(res);
        }
        el_numero = (10 - (suma % 10)) % 10;

        if (el_numero == verificador && cedula.substr(0,3) != "000") {
            cedulaValida = 0;
        }
        else   {
            //cedulaValida = alert("Esta cedula no es valida");
            //$('#CodigoDeConcp').val("");
            //$('#CodigoDeConcp').focus();
            return cedulaValida = 1;
        }

        if (cedulaValida == 6666666666666)
        {
            //cedulaValida = alert("Esta cedula no es valida");
            //$('#CodigoDeConcp').val("");
            //$('#CodigoDeConcp').focus();
            return cedulaValida = 1;
        }

        return cedulaValida;
        }
   </script>

     
	

                }
